<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="lor-espresso-automation">
    <listeners>
        <listener class-name="TestListener"></listener>
    </listeners>
    <test name="Base Test" thread-count="5">
        <classes>
            <class name="Tests.MainTest"/>
        </classes>
    </test>
    <test name="Coffee tests">
        <classes>
            <class name="Tests.GuestTests.CoffeeTests.LorCapsuleTest"></class>
            <class name="Tests.GuestTests.CoffeeTests.JacobsTest"></class>
<!--            <class name="Tests.GuestTests.CoffeeTests.IllyCapsuleTest"></class>-->
            <class name="Tests.GuestTests.CoffeeTests.NextToTheCoffeeTest"></class>
        </classes>
    </test>
    <test name="Order tests">
        <classes>
            <class name="Tests.GuestTests.OrderTests.DeliveryDetailsTest"></class>
<!--            <class name="Tests.GuestTests.OrderTests.CardPaymentTest"></class>-->
        </classes>
    </test>
    <test name="Search and footer">
        <classes>
            <class name="Tests.GuestTests.SearchBoxTest"></class>
            <class name="Tests.FooterTest"></class>
        </classes>
    </test>
</suite>