<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lor-Espresso">
    <listeners>
        <listener class-name="TestListeners"/>
    </listeners>
    <test name="Base-Test" thread-count="5">
<!--        <packages>-->
<!--            <package name="Tests"></package>-->
<!--        </packages>-->
        <classes>
            <class name="Tests.MainTest"/>
        </classes>
    </test>
</suite>