<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shirt Online Test">
    <listeners>
        <listener class-name="TestListener"></listener>
    </listeners>
    <test name="Base Test" thread-count="5">
        <classes>
            <class name="Tests.MainTest"/>
        </classes>
    </test>
    <test name="Next to the coffee">
        <classes>
            <class name="Tests.NextToTheCoffeeTest"></class>
        </classes>
    </test>
    <test name="ReportOpener">
        <classes>
            <class name="ReportOpener"></class>
        </classes>
    </test>
</suite>